:root {
    --color-background:#FFFFFF;
    --color-valores: #057510;
    
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

span {
    display: flex;
    flex-direction: row;
   
}

p {
    color: var(--color-valores);
    font-weight: 600;
    padding-left: 8px;
}

html, body, #root {
    background: var(--color-background);
    height: 100vh;
}

body,
input,
textarea {

  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

#root {
    display: flex;
    margin: 50px;
}

@media (min-widht: 700px){
    :root{
        font-size: 62.5%;
    }
}
