:root {
    --color-background:#FFFFFF;
    --color-valores: #057510;
    
    font-size: 60%;
    
}

.page-principal {
    margin: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

span {
    display: flex;
    flex-direction: row;
}

p {
    color: var(--color-valores);
    font-weight: 600;
    padding-left: 4px;
}

html, body{
    background: var(--color-background);
}


body {
    background-image: url("../Images/Mask.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:contain;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

body,
input,
textarea {

  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

#root {
    display: flex;
}

@media (min-widht: 700px){
    :root{
        font-size: 62.5%;
    }
}
